.front-page-global {
  padding: 0 30px;
}
.front-section h1,
.front-section h2 {
  font-weight: 900;
  font-size: 24px;
}
.front-section p {
  font-size: 16px;
  line-height: 1.6;
}
img {
  width: 100%;
}
.front-page-global {
  max-width: 1400px;
  margin: 40px auto;
}
.front-page .card {
  background: #f9f9f9;
  margin-bottom: 30px;
}
.card h2 {
  margin-top: 0px;
}
.card .content {
  padding: 0px;
}
.card-chart {
  background: #fff;
  margin-bottom: 20px;
}
.big-number {
  font-size: 30px;
  color: #111;
  font-family: "Roboto", sans-serif;
}
.map {
  background: url("./map.png") no-repeat center center;
  background-size: cover;
  height: 600px;
}
p.caption {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  max-width: 80%;
}
p.intro {
  font-size: 26px;
  color: #555;
  max-width: 90%;
  margin: 40px auto;
}
