table a,
table a:hover {
  color: #004f91;
}
table td {
  white-space: nowrap;
}
.table-wrapper {
  max-width: 100%;
  overflow-y: scroll;
}
.page-controls {
  min-height: 40px;
  position: relative;
}
.add-record {
  position: absolute;
  right: 0;
}
.status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-indent: -9999px;
  margin: 0 auto;
  cursor: pointer;
}
.ant-tooltip {
  text-transform: capitalize;
}

