.damage-input {
  margin-top: 20px;
  background: #f9f9f9;
  padding: 15px;
}
.asset-input {
  margin-bottom: 0px;
}
.asset-item {
  padding-top: 20px;
  border-bottom: 3px dotted #999;
  position: relative;
  padding-bottom: 20px;
}
.asset-item .ant-form-item {
  margin-bottom: 10px;
}
.delete-asset-item {
  position: absolute;
  right: 0px;
  top: 18px;
  font-size: 16px;
  z-index: 100;
}
.asset-input p {
  font-size: 16px;
}
.effect-input-footer {
  margin-top: 20px;
}

.ant-popover {
  z-index: 1000;
}
